body{
    height: 100%;
    margin: 0;
    background-color: lightgrey;
}

.event-detail-display-box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.nav-bar {
    height: 7%;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border: darkgrey;
}

#left-buttons {
    height: 100%;        
    font-size: 5vh;    
    display: flex;
    align-items: center;  
}

#right-buttons{
    height: 100%;         
    font-size: 2vh;       
    display: flex;
    align-items: center; 
    margin-left: auto;
}

#nav-home-button,#nav-explore-button,#nav-account-button{
    padding: 10px;
    border-left: 1px solid grey;
    color: #FF6347;
    text-decoration: none;
    font-weight: bold;
}

#nav-home-button:hover,#nav-explore-button:hover,#nav-account-button:hover{
    background-color: darkgrey
    color: #FF6347;

}

#site-logo{
    width: 12vh;
    height: 10vh;
}

.event-information{
    width: 90%;
    display: block;

}

.right-side-element{
    float:right;
}

.user-profile-display-box{
    display: flex;
    border-radius: 10px;
    border: 2px solid lightgrey;
}

.avatar-and-username{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 10vh;
}

#user-avatar{
    width: 10vh;
    height: 7vh;
}

#about-user{
    border-bottom: 1px solid lightgrey;
    display: inline;
}

#join-section{
    display: flex;
    justify-content: center;
}

#join-event-button{
    margin: 5px;
    width:26vh;
    border-radius: 10px;
    border: 2px solid blue;
    text-align:center;
    background-color: blue;
    color:white;
}

#join-link{
    color: white;
}

#join-event-button:hover{
    background-color: #87CEEB;
    border: 2px solid #87CEEB;
    color: black;
}

#event-guest-list{
    background-color: lightgrey;
    border-radius: 10px;
    width: 30vh;
}

#event-main-image{
    display:none;
    border: 2px solid black;
}














